body {
    background-color: rgb(155, 202, 213);
}

#time, #date, #logMenu {
    display: inline;
    margin: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.weather-container-large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    height: 200px;
    margin-top: 20px;
    background-color: blanchedalmond;
    border: 3px solid rgb(43, 147, 203);
    border-radius: 20px;
}

h1 {
    font-size: 20px;
    margin-left: 50px;
}

.weather-detail {
    display: flex;
    flex-wrap: wrap;
}

.weather-box {
    width: 150px;
    margin-left: 30px;
}

#logout {
    cursor: pointer;
}

img {
    height: 55px;
}

.min-max-temp {
    margin-left: 45px;
}