header {
    display: flex;
    flex-direction: row;

}

#time, #date, #logMenu {
    display: inline;
    margin: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.weather-container-large {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.weather-detail {
    display: flex;
    flex-wrap: wrap;
}

.weather-box {
    width: 200px;
}

#logout {
    cursor: pointer;
}
